<div class="text-center">
    HOŞGELDİNİZ... <br />
</div>

<form class="text-center" method="post">
    <button onclick="location.href = '/Home/Register'" type="button" class="btn btn-primary">Kişi ekle</button>
    <button onclick="location.href = '/Home/Sirala'" type="button" class="btn btn-primary active" aria-pressed="true">Kişi Sıralama Gör</button>
    <button onclick="location.href = '/Home/GrafikCinsiyet'" type="button" class="btn btn-primary">Cinsiyet Dağılımını Gör</button>
    <button onclick="location.href = '/Home/GrafikYas'" type="button" class="btn btn-primary">Yaş Dağılımını Gör</button>
</form>

